################################################
#  Alan IF 3 Syntax for Sublime Text 3         #
#  https://github.com/tajmone/sublime-alan-if  #
################################################

# Set Git's default behaviour to text-files autodetection, in case users don't
# have `core.autocrlf` set:
* text=auto


## Repository Configuration
###########################
.editorconfig    text eol=lf
.gitlab-ci.yml   text eol=lf
.travis.yml      text eol=lf
.gitattributes   text eol=lf
.gitconfig       text eol=lf
.gitignore       text eol=lf
.gitmodules      text eol=lf


## Sublime Text
###############
*.hidden-tmTheme         text eol=lf   linguist-language=XML
*.sublime-build          text
*.sublime-color-scheme   text          linguist-language=JSONC
*.sublime-commands       text
*.sublime-completions    text
*.sublime-keymap         text
*.sublime-macro          text
*.sublime-menu           text
*.sublime-mousemap       text
*.sublime-project        text
*.sublime-settings       text
*.sublime-snippet        text
*.sublime-syntax         text
*.sublime-theme          text
*.sublime-workspace      text
*.sublime_metrics        text
*.sublime_session        text
*.tmPreferences          text
*.YAML-propertyList      text          linguist-language=YAML


## Documentation
################
*.md      text
*.txt     text
COPYING   text
LICENSE   text


## Scripts
##########
*.sh   text eol=lf
*.py   text


## Alan Files
#############
*.a3c    binary
*.alan   text     linguist-language=Alan    linguist-detectable=false
*.i      text     linguist-language=Alan    linguist-detectable=false
*.ifid   text     linguist-generated=true

# Solutions (commands scripts):
*.a3s      text   linguist-language=prose   linguist-detectable=false
*.a3sol    text   linguist-language=prose   linguist-detectable=false

# Transcripts:
*.a3t      text   linguist-language=prose   linguist-detectable=false
*.a3log    text   linguist-language=prose   linguist-detectable=false


## Graphics
###########
*.gif   binary
*.ico   binary
*.jpg   binary
*.jpeg  binary
*.png   binary
*.svg   binary
*.svgz  binary
*.wbmp  binary
*.webp  binary
