################################################################################
# Alan IF 3 Syntax for Sublime Text 3                                          #
# https://github.com/tajmone/sublime-alan                                      #
################################################################################

# Set Git's default behaviour to text-files autodetection, in case users don't
# have `core.autocrlf` set:
* text=auto

## ==========
## Alan Files
## ==========
*.a3c      binary
*.alan     text
*.i        text
*.ifid     text

## =============
## AlanIDE Files
## =============
.project   text

# ==============================================================================
#                    Text Files (EOL Normalization Settings)                    
# ==============================================================================
# Explicitly declare all files that are text and tell Git how to handle EOLs:

## ===================
## DOCUMENTATION FILES
## ===================
LICENSE        text
*.md           text

## ============
## GIT SETTINGS
## ============
.gitattributes text
.gitconfig     text
.gitignore     text
.gitmodules    text

## ==================
## SUBLIME TEXT FILES
## ==================
*.sublime-build         text
*.sublime-color-scheme  text
*.sublime-menu          text
*.sublime-settings      text
*.sublime-snippet       text
*.sublime-syntax        text
*.tmPreferences         text

# ==============================================================================
#                                  Binary Files                                 
# ==============================================================================
# Explicitly declare all files that are binary and shouldn't be modified by Git:

## ========
## GRAPHICS
## ========
*.gif   binary
*.ico   binary
*.jpg   binary
*.jpeg  binary
*.png   binary
*.svg   binary
*.svgz  binary
*.wbmp  binary
*.webp  binary

# ==============================================================================
#                                GitHub Linguist                                
# ==============================================================================
#  -- https://github.com/github/linguist
# Manually define/override some extension so that GitHub's Linguist library can
# 1) correctly gather statistics on source files, and
# 2) use proper syntax highlighting on GitHub's WebUI.

## ==============
## Sublime Text 3
## ==============
# New Sublime Text file formats not reckognized by Linguist:
*.sublime-color-scheme      linguist-language=JSON

## =========
## Alan IF 3
## =========
# Alan syntax is not supported by Linguist:
# https://github.com/github/linguist/blob/master/lib/linguist/languages.yml

## =================
## Alan Source Files
## =================
# Even if Alan syntax is not supported, hopefully these settings might help the
# repo statics to show up correctly (long-shot guess):
*.alan    linguist-language=Alan
*.i       linguist-language=Alan
*.alan    linguist-detectable=true
*.i       linguist-detectable=true

*.ifid    linguist-generated=true

## =============
## AlanIDE Files
## =============
.project   linguist-language=XML
.project   linguist-generated=true

## Sample Patterns
## ---------------------------
# *.ext    linguist-detectable=true
# *.ext    linguist-documentation=true
# *.ext    linguist-generated=true
# *.ext    linguist-language=LANG
# *.ext    linguist-vendored=true

